:root {
  --text-color: #111;
  --background-primary: #fff;
  --btn-background: #f0f0f0;

  @media screen and (prefers-color-scheme: dark) {
    --text-color: #eee;
    --background-primary: #111;
    --btn-background: #333;
  }
}

body {
  display: grid;
  align-items: center;
  place-items: center;
  margin: 0;
  font-family: sans-serif;
  background: var(--background-primary);
}

main {
  display: grid;
  grid-auto-flow: row;
  padding: 1rem 0 1rem 0;
  text-align: center;
  width: 30rem;
  @media screen and (max-device-width: 700px) {
    width: calc(75% - 2rem);
  }
  @media screen and (max-device-width: 500px) {
    padding: 0;
    width: calc(100% - 2rem);
  }
}

h1 {
  text-align: center;
  font-weight: 200;
  font-size: 2em;
  color: var(--text-color);
  margin: 1.3rem auto 1.2rem;
}

.profile-picture {
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  margin: auto;
}

a {
  text-decoration: none;
  color: var(--text-color);

  &[role=button] {
    cursor: pointer;
    background: var(--btn-background);
    border-radius: 9rem;
    font-size: 1.1em;
    padding: 1rem;
    margin-top: clamp(1rem, 2vw, 18px);
  }

  span {
    &:before {
      margin-right: .5rem;
    }
  }
}
