/*
  Icon Font: icons
*/

@font-face {
  font-family: "icons";
  src: url("./icons.eot");
  src: url("./icons.eot?#iefix") format("embedded-opentype"),
       url("./icons.woff2") format("woff2"),
       url("./icons.woff") format("woff"),
       url("./icons.ttf") format("truetype"),
       url("./icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "icons";
    src: url("./icons.svg#icons") format("svg");
  }
}

[data-icon]::before { content: attr(data-icon); }

[data-icon]::before,
.blog::before,
.bluesky::before,
.github::before,
.imessage::before,
.keybase::before,
.mastodon::before,
.reddit::before,
.twitter::before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.blog::before { content: "\f108"; }
.bluesky::before { content: "\f100"; }
.github::before { content: "\f101"; }
.imessage::before { content: "\f102"; }
.keybase::before { content: "\f103"; }
.mastodon::before { content: "\f104"; }
.reddit::before { content: "\f105"; }
.twitter::before { content: "\f106"; }
